.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid #dbdbdb;
  height: 100%;
  overflow: auto;
}

.sidebar .header {
  padding: 1rem;
  height: 88px;
  border-bottom: 1px solid #dbdbdb;
}

.sidebar .header,
.sidebar .header span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.sidebar .header h1 {
  font-size: 20px;
}

.sidebar .sidebar_content {
  padding: 25px 15px;
  color: #787486;
}

.sidebar .sidebar_content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar .sidebar_content ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 6px 8px;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sidebar .sidebar_content ul li:hover {
  background: #5030e514;
}

hr {
  width: 90%;
  margin: auto;
  height: 2px;
  background-color: #dbdbdb;
  border: none;
}

.projects {
  padding: 25px 15px;
  color: #787486;
}

.projects .project_head {
  padding: 4px 8px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects .project_list {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects .project_list li {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.projects .project_list li:hover {
  background: #5030e514;
  border-radius: 6px;
  cursor: pointer;
}

.projects .project_list li span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #787486;
  border-radius: 50%;
}

.dot_1 {
  background: #7ac555;
}
.dot_2 {
  background: #ffa500;
}
.dot_3 {
  background: #e4ccfd;
}
.dot_4 {
  background: #76a5ea;
}

.component,
.custom_block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.custom_block {
  margin: 2rem auto;
  position: relative;
  width: 206px;
  height: 200px;
  background-color: #f5f5f5;
  border-radius: 16px;
}

.custom_block .circle {
  background-color: #f5f5f5;
  position: absolute;
  width: 66px;
  height: 66px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block_content {
  display: flex;
  padding: 0px 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.block_content h3 {
  font-size: 14px;
  font-weight: 500;
}

.block_content p {
  font-size: 12px;
  color: #787486;
}

.block_content button {
  background-color: #fff;
  color: #000;
  padding: 12px 27px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

.block_content button:hover {
  background: #5030e514;
}
